<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-static-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">{{ brandName }}</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!user">
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">注册</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">登录</a>
          </li>
        </ng-container>
        <ng-container *ngIf="user">
          <li class="nav-item" ngbDropdown>
            <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown" role="button">
              <img src="{{ user.avatar || 'http://gravatar.com/avatar?d=mp' }}" width="30" height="30">
              {{ user.name }}
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" [routerLink]="['/users', user.id]">个人中心</a>
              <a class="dropdown-item" [routerLink]="['/users', user.id, 'edit']">编辑资料</a>
              <div class="dropdown-divider"></div>
              <div class="dropdown-item"><button class="btn btn-block btn-danger" (click)="logout()">登出</button></div>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>