<ul class="list-unstyled topic-reply">
  <ng-container *ngFor="let reply of replies; last as isLast">
    <li class="media" [attr.name]="'reply' + reply.id" id="reply{{ reply.id }}">
      <a [routerLink]="['/users', reply.user.id]">
        <img src="{{ reply.user.avatar || 'http://gravatar.com/avatar?d=mp' }}" class="img-thumbnail mr-3 author-avatar" alt="{{ reply.user.name }}">
      </a>

      <div class="media-body">
        <h5 class="mt-0 mb-1">
          <a [routerLink]="['/users', reply.user.id]" title="{{ reply.user.name }}">
            {{ reply.user.name }}
          </a>
          <span class="text-secondary"> • </span>
          <span class="meta text-secondary" title="{{ reply.createdAt }}">
            {{ reply.createdAt | amLocale: 'zh-cn' | amTimeAgo }}
          </span>

          <span *ngIf="authService.user && (authService.user.isAuthorOf(reply) || authService.user.isAuthorOf(topic))" class="meta float-right">
            <a class="trash-btn" title="删除回复" role="button" (click)="delete(reply)">
              <i class="far fa-trash-alt"></i>
            </a>
          </span>
        </h5>

        <div class="reply-content text-secondary">
          {{ reply.content }}
        </div>
      </div>
    </li>

    <hr *ngIf="!last">

  </ng-container>
</ul>