@import '~bootstrap/scss/bootstrap.scss';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

/* 全局 */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; // 为底部空出位置
  font-family: Helvetica, 'Microsoft YaHei', Arial, sans-serif;
}
